[Unit]
Description=NIOServer
[Service]
TimeoutStartSec=0
ExecStart=/bin/java -jar /root/jars/NIOServer.jar --spring.profiles.active=prod
[Install]
WantedBy=multi-user.target
