[Unit]
Description=UDPServer
[Service]
TimeoutStartSec=0
ExecStart=/bin/java -jar /root/jars/UDPServer.jar --spring.profiles.active=prod
[Install]
WantedBy=multi-user.target
